{% extends "format.html" %}
{% block content %}
  {{message}}
  <ul>
    <li>ISBN:{{isbn}}</li>
    <li>Title:{{title}}</li>
    <li>Author:{{author}}</li>
    <li>Year:{{year}}</li>
  </ul>
  <hr>
  <h2>Reviews</h2>
  {% for review in reviews %}
  Id:{{review.id}}
  Comment:{{review.comment}}
  Rating:{{review.rating}}
  ISBN:{{review.isbn}}
  Commented By:{{review.username}}<br>
  {% endfor %}
  <h3>Rate this book</h3>
  <form action="{{url_for('review')}}" method="post">
    <input type="radio" id="rating" name="rating" value=1>
    <label for=1>*</label>
    <input type="radio" id="rating" name="rating" value=2>
    <label for=2>**</label>
    <input type="radio" id="rating" name="rating" value=3>
    <label for=3>***</label>
    <input type="radio" id="rating" name="rating" value=4>
    <label for=4>****</label>
    <input type="radio" id="rating" name="rating" value=5>
    <label for=5>*****</label>
    <input type="text" name="comment" placeholder="Your views on this book">
    <button>Submit</button>
  </form>
{% endblock %}
