{% extends "format.html" %}
{% block content %}
  {% if message %}
    <div class="message">{{message}}</div>
  {% endif %}
  <div class="text">
    <h1>Hey!{{name}}</h1>
      <p class="welcome">Welcome to <strong>BookLover</strong>. This is a simple book review site that lets you provide your rating and review on some of the most amazing books.
      We have a huge collection of 5000! books for which you can see the reviews provided by othere users in this site and also you can see average ratings
      from another amazing book review site <i>Goodreads</i>. So, Enjoy browsing the books and keep reading, keep gaining Knowledge
      </p>
  </div>
{% endblock %}
